@import "normalize.styl"
@import "menu.styl"
@import "fonts.styl"
@import "genericas.styl"
@import "animacion.styl"

fondo = #231F20
letras = #9C9B87
color-fondo = #F6F5E1

@import "phone.styl"
@import "tablet.styl"
@import "desktop.styl"
