@import "normalize.styl"
@import "animacion.styl"
@import "menu.styl"
@import "fonts.styl"

letras = #9C9B87
color-fondo = #F6F5E1
color-fondo = #F6F5E1

body
	color letras
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size 16px
	font-size 90%
a
	color letras
	text-decoration none
.content
	min-height 30em
	width 88%
	margin 0 auto
	padding 10px
	padding-bottom 70px
.full-content
	max-width 1024px
	margin 0 auto
	min-height 100%
	/*Header y footer*/
	.Redes-row
		width 50%
		float left
	/*edad*/
	.Edad
		font-size 1.2em
		width 50%
		margin 5em auto
		&-pregunta
			padding 0 2em 1em
			background bottom left repeat-x url(../images/general/borde.png)
		&-opciones
			margin 3em 0
		&-respuesta
			width 49%
			float left
			font-size 2em
			padding 0.5em 0
	/*menu*/
	.Menu
		margin 0 auto
		width 70%
		text-align center
		padding 0.5em 0
		border-bottom 1px solid letras
		li
			display inline-block
			a
				padding 0.2em 1em
		&-decoration-left
				border-left 2px solid letras

	.contenido
		margin-top 3em
	.footer
		position relative
		.web-div-footer
			width 100%
			margin 0 auto
			background url(../images/desktop/marco-down.jpg) center no-repeat
			min-height 37em
			position absolute
			bottom 0
			z-index -1
		.copyright
			position absolute
			width 80%
			left 10%
			bottom 1em
	/*inicio*/
	.Inicio-row
		width 49%
		margin 0 auto
		text-align center
		display inline-block
		vertical-align top
		&-titulo
			font-size 1.5em
			width 80%
			left 10%
			position relative
		&-generacion
			width 30%
			display inline-block
			vertical-align top

	/*Proceso*/
	.Proceso-contenido
		margin-bottom 1em
		margin-top 1em
		.Proceso-row
			position relative
			width 47%
			display inline-block
			vertical-align top
			margin-left 1em
		.Proceso-titulo
			font-size 1.3em
			font-weight bold
			text-align center
			padding 1em 0
			border-bottom 1px solid letras
		.Proceso-subtitulo
			text-align center
			padding 1em 0
		.row-lef
			padding 0 0.5em
		.row-right
			border 	1px solid letras
			padding 0 0.5em

	.Proceso-detalle
		padding-bottom 1em
		border-bottom 1px solid letras
		.detalle-row-left
			width 30%
			text-align center
			display inline-block
			img
				width 200px
		.detalle-row-right
			width 60%
			vertical-align top
			text-align center
			padding-top 2em
			margin-left 2em
			display inline-block
			.titulo
				font-size 1.3em
				padding-bottom 1em

	/*contacto*/
	.contacto
		text-align center
		margin-left 10%
		.contacto-img
			width 30%
			float left
		.contacto-datos
			width 60%
			float left
			text-align left
			margin-left 10%
	.contacto-map
		text-align center

	/*generales*/

.Producto
	margin-bottom 3em
	position relative
	.row
		display inline-block
		vertical-align top
	.imagen-producto
		width 45%
		img
			margin-top 4em
			text-align center
			margin-left 1.5em
	.contenido-producto
		width 40%
		position relative
		left 5%
	&-titulo
		border-top 1px solid letras
		border-bottom 1px solid letras
		font-size 2em
		padding 1em 0
		text-align center
.Acta
	p
		border-bottom 1px solid letras
		border-bottom-style dashed

/*HISTORIA*/
.Historia
	margin 3em 0
	position relative
	&-row
		display inline-block
		width 60%
	&-arbol
		width 30%
		text-align center
		.opcion
			position absolute
			top 0
			left 2em
			.menu-arbol
				min-height 47px
				min-width 14em
				cursor pointer
				z-index 777
	&-texto
		background color-fondo
		padding 1em 0 4em 0
		position absolute
		margin-left 5%
		box-shadow 10px 10px 5px #999
		max-width 70%
	.quintag
		text-align center
	&-titulo
		font-size 1.3em
		font-weight bold
		text-align center
		padding 1em 0
	&-contenido
		border-bottom 1px solid letras
		border-top 1px solid letras
		width 90%
		left 5%
		position relative

.despedida
	width 60%
	margin 0 auto
	font-size 1.3em


.cerrado
	border 1px solid letras
	padding 1em 0

.titulo
	position relative
	width 90%
	left 5%
	text-align center
	font-size 1.3em
	padding 1em 0
	border-top 1px solid letras

.subtitulo
	font-size 1.3em
	padding 1em

.borde-right
	border-right 2px solid letras

.text-right
	text-align right
.text-center
	text-align center
.text-justify
	text-align justify
.text-left
	text-align left
.col-2
	width 49%
	float left
