.submenu
	border 1px solid #9C9B87
	width 230px
	position absolute
	z-index 10001
	left 55%
	background white
	display none

	ul
		margin 0
		padding 0 1em
		li
			list-style none
			margin 1em 0
			padding 0
			a
				color #9C9B87
