body
	background fondo
	color letras
	font-family: Georgia, "Times New Roman", Times, serif;

.full-conent
	max-width 480px
.header
	color white
	.icono-menu
		border 1px solid white
		border-radius 10px
		margin 10px
	.icon-menu
		font-size 45px
	.nombre
		text-align center
		width 60%
	.idioma
		width 10%

	.cabecera
		vertical-align middle
		display inline-block
		p
			a
				text-decoration none
				color white

.footer-phone
	color white
	text-align center
	.Redes-row
		a
			text-decoration none
			img
				width 32px
				height 32px

.content
	background white
	min-height 30em
	nav
		display none
		background fondo
		ul
			li
				width 45%
				height 35px
				list-style-type none
				display inline-block
				a
					color white
					text-decoration none
					font-size 1em
	.Menu
		color white

.Edad
	font-size 1.2em
	width 80%
	margin 0 auto
	&-pregunta
		padding 5em 0 2em 0
		text-align center
	&-respuesta
		text-align center
		width 49%
		float left
		font-size 1.5em
		padding 0.5em 0
	img
		display none

.despedida
	padding-top 8em
	width 80%
	margin 0 auto
	text-align center
	font-size 1.3em
	.despedida-imagen
		img
			width 60%

.Inicio-row
	width 90%
	margin 0 5%
	text-align center
	padding 1em 0
	&-titulo
		font-size 1.2em
		width 80%
		left 10%
		position relative
	&-generacion
		width 50%
		display inline-block
		vertical-align top

	.img-head
		img
			width 300px
			height 34px
	.img-footer
		img
			width 300px
			height 34px
.img-bottle
	padding 3em 0
	img
		width 300px
		height 300px

.contacto
	padding 0 1em
	.contacto-img
		padding 2em 0
		text-align center

	.contacto-datos
		legend
			font-size 1.5em
			text-decoration underline
			text-transform uppercase
.contacto-map
	padding 0 1em
	img
		width 350px
		height 300px

.Historia
	padding 0 .5em 1em  .5em
	&-texto
		background color-fondo
		box-shadow 10px 10px 5px #999
		margin 2em .5em
		text-align justify
	.quintag
		text-align center
	&-titulo
		font-size 1.3em
		font-weight bold
		text-align center
		padding 1em 0
	&-contenido
		border-bottom 1px solid letras
		border-top 1px solid letras
		width 90%
		left 5%
		position relative
	.menu-historia-phone
		.opcion
			.menu-arbol
				padding 1em 5px
				display inline-block

.Proceso
	padding 0 1em
	p
		text-align justify
	.Proceso-detalle
		.detalle-row-left
			text-align center
			padding 1em 0
			img
				width 129px
				height 179px
		.Proceso-modal-img
			text-align center
	.Proceso-titulo
		font-size 1.3em
		font-weight bold
		text-align center
		padding 1em 0
		border-bottom 1px solid letras
	.Proceso-subtitulo
		text-align center
		padding 1em 0
	.menu-proceso-phone
		text-align center
		padding 1em 0
		.Proceso-item-menu
			display inline-block
			width 50px
			height 50px

.Producto
	padding:0 2em 0 1em;
	font-size .9em
	.imagen-producto
		text-align center
		img
			width 200px
			height 350px
			margin 0 auto
	.contenido-producto
		position relative
		left 5%
	&-titulo
		font-size 2em
		padding 1em 0
		text-align center
.Acta
	p
		border-bottom 1px solid letras
		border-bottom-style subtitulo
.Producto-img-pie
	text-align center
	padding 0 0 3em 0

.submenu
	border 1px solid #9C9B87
	width 230px
	position absolute
	z-index 10001
	left 25%
	background white
	display none

	ul
		margin 0
		padding 0 1em
		li
			list-style none
			margin 1em 0
			padding 0
			a
				color #9C9B87




//ocultar
.header-pc
.footer
.moduletable
.Historia-arbol
	display none
